// COLORS
$color-primary: #2978b5;
$color-primary-light: #8ab6d6;
$color-primary-dark: #0061a8;

$color-secondary-light: #ffb0b0;
$color-secondary-dark: #f72464;

$color-tertiary-light: #f9b208;
$color-tertiary-dark: #fc5404;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-warning: #fc5404;

// GRID
$grid-width: 72rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 3.75rem;

// FONT
$default-font-size: 1em;
